.App {
  text-align: center;
  padding: 20px;
}

.CalendarContainer {
  margin-bottom: 20px;
}

.BirthdayListContainer {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-height: 300px; /* Fixed height for the container */
  overflow-y: auto; /* Allow scrolling within the container */
  margin-bottom: 20px;
}

.FavoriteBirthdaysContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  max-height: 300px; /* Fixed height for the container */
  overflow-y: auto; /* Allow scrolling within the container */
}

.Birthday {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.Birthday span {
  font-weight: bold; /* Text is displayed in bold */
  font-size: 18px; /* Increased font size */
}

.AddButton,
.DeleteButton {
  padding: 8px 15px; /* Added padding to ensure consistent spacing */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition effect */
}

.AddButton:hover,
.DeleteButton:hover {
  background-color: #45a049; /* Darker shade of green on hover */
}

.DeleteButton {
  background-color: #f44336;
}

.DeleteButton:hover {
  background-color: #d32f2f; /* Darker shade of red on hover */
}

.Pagination button {
  padding: 8px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Pagination button:hover {
  background-color: #0056b3;
}

.Pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Pagination button:not(:last-child) {
  margin-right: 10px;
}
